#header{ /* Styling for the main header*/
    text-align:center;
    border-style: solid;
    border-width: 5px;
    border-color: Black;
    background-color: yellow;
}

/* The button that leads us to add-note component*/
.button{
    position:relative;
    top:2cm;
    left:17cm;
    width: 2cm;
    background-color: lightblue;
    color:white;
    border-radius: 5cm;
}

/* The list of notes retrieved from the database*/
#notes-list{
    position:absolute;
    top:6cm;
    left:14cm;
    list-style-type: none;
}

/* List items retrieved from the database*/
#list-item{
    min-width:7cm;
    min-height:3cm;
    margin: 5px;
}

/* The button that wraps around notes and make them clickable*/
#note-button{
    min-width:7cm;
    min-height:3cm;
    border-radius:16px;
    border-style: solid;
    background-color: lightblue;
}

/* The title of each note displayed*/
#title{
    font-family: "Helvetica Neue", sans-serif;
    font-size: larger;
    font-weight: bolder;
}

#body{
    background-color:lightgray;
}

#note-text{
    background-color:white;
    min-height: 3cm;
}

#note-title{
    font-family: "Helvetica Neue";
    font-style: italic;
}

